h1  {  text-align: center ; 
         font-size: large ;
		 font-size: 20pt;
         color: blue;  
       text-decoration-line:  underline overline;
	   
	   
	   
	   
	   } 
	   
	   

li { color: white;
	font-size: 15pt;
	text-decoration: underline;
} 
	   
	
h2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20pt;
}
	   
	   
h3 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20pt;
}	  
	   
	   
.button {
background-color: #ff6a19;
border: none;
color: white;
padding: 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
border-radius: 2rem;
}
	   
	   
h4 {
color: orangered;
font-size: 18pt;
}   
	   
	   
	   
h5 {

color: white;
font-size: 18pt;

}  
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	
body {
	
	background-color: hsl(50, 33%, 25%);
}